<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="menu.css">
	</head>
<body>
	 <div class="container">
        <!-- card 1 -->
        <div class="card">
            <div class="top">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <h3>Basic</h3>
            </div>
            <div class="price">
                <h2>$
                    <sub>25</sub>
                </h2>
            </div>
            <div class="detail">
                <ul>
                    <li>10Gb Space</li>
                    <li>3 Dmain Names</li>
                    <li>20 Email</li>
                    <li>Like Sport</li>
                </ul>
            </div>
            <a href="#">Order Now</a>
        </div>
        <!-- card 2 -->
        <div class="card">
            <div class="top">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <h3>Basic</h3>
            </div>
            <div class="price">
                <h2>$
                    <sub>25</sub>
                </h2>
            </div>
            <div class="detail">
                <ul>
                    <li>10Gb Space</li>
                    <li>3 Dmain Names</li>
                    <li>20 Email</li>
                    <li>Like Sport</li>
                </ul>
            </div>
            <a href="#">Order Now</a>
        </div>
        <!-- card 3 -->
        <div class="card">
            <div class="top">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <h3>Basic</h3>
            </div>
            <div class="price">
                <h2>$
                    <sub>25</sub>
                </h2>
            </div>
            <div class="detail">
                <ul>
                    <li>10Gb Space</li>
                    <li>3 Dmain Names</li>
                    <li>20 Email</li>
                    <li>Like Sport</li>
                </ul>
            </div>
            <a href="#">Order Now</a>
        </div>
    </div>
</body>
</html>