<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <section id="sideMenu">
        <nav class="nav">
            <a href="#"><i class="fa fa-home" aria hidden="true"></i>Home</a>
            <a href="#"><i class="fa fa-sticky-note-o" aria hidden="true"></i>Item</a>
            <a href="#"><i class="fa fa-utensils" aria hidden="true"></i>Kitchen</a>
            <a href="#"><i class="fa fa-clipboard-list-o" aria hidden="true"></i>Payment</a>
            <a href="#"><i class="fa fa-user-circle-o" aria hidden="true"></i>Item</a>
            <a href="#"><i class="fa fa-cog" aria hidden="true"></i>Setting</a>
        </nav>
    </section>
    <header>
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="" value="">
        </div>
        <div class="user">
            <a href="#">
                <div>
                    <img class="user-img" src="../public/imgs/user.jpg" alt=""></div>
                
            </a>
            <a href="#">Log Out</a>
        </div>
    </header>
</body>

</html>