<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<frame>
    <frameset rows="10%, *">
        <frame name="title" src="title.html"> </frame>
        <frameset cols="20%,*">
            <frame name="menu" src="menu.html"></frame>
            <frame name="content" src="content.html"></frame>
        </frameset>
    </frameset>
</frame>

</html>