<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<section id="sideMenu">
        <nav class="nav">
            <a href="home.html" target="content" >
                <i class="fa fa-home" aria hidden="true"></i>Home</a>
            <a href="item.html" target="content">
                <i class="fa fa-sticky-note-o" aria hidden="true"></i>Item</a>
            <a href="kitchen.html" target="content">
                <i class="fa fa-utensils" aria hidden="true"></i>Kitchen</a>
            <a href="payment.html"target="content">
                <i class="fa fa-clipboard-list-o" aria hidden="true"></i>Payment</a>
            <a href="item2.html"target="content">
                <i class="fa fa-user-circle-o" aria hidden="true"></i>Item</a>
            <a href="setting.html" target="content">
                <i class="fa fa-cog" aria hidden="true"></i>Setting</a>
        </nav>
    </section>
</body>
</html>