@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "container.css";
*{
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #F4F6F9;
	margin: 0;
}
#sideMenu {
	background: #302D43;
	/*max-width: 280px;*/
	padding-top: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px;
}
#sideMenu nav a {
	display: block;
	color: #F4F6F9;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 300;
	transition: all 0.3s ease-in-out;
}
#sideMenu nav a:hover {
 	background: #282639;
 	border-left: 5px solid #92CF48;
	padding: 15px 30px 15px 25px;
	color: #92CF48;
}

#sideMenu nav a:hover .fa {
	color: #92CF48;
}
.fa{
	color: #F4F6F9;
	font-size: 5rem;
	margin-right: 0.8rem;
	display: inline-block;
	width: 30px;
	position: relative;
	top: 2px;
}

/*Thẻ header*/
header {
	margin-left: 250px;
	padding: 10px;
	left: 0;
	background: white;
	top: 0;
}

/*Thẻ input trong thẻ header*/
header input[type="text"] {
	background: transparent;
	border: none;
	font-size: 1rem;
	color: #000000;
	padding: 8px ;
}

/*class search*/
.search {
	display: inline-block;
}

/*class fa (icon) */
.search .fa{
	color: #F4F6F9;
	margin-right: 0px;
}

/*class user*/
.user {
	display: flex;
	float: right;
	background:#302D43;
}

/*Thẻ a trong class user*/
.logout {
	text-decoration: none;
	color: #282639;
	padding-left: 8px;
	text-align: center;
}

/*class user-img (ảnh chân dung) */
.user-img {
	width: 30px;
	height: 30px;
	border-radius: 50%; 
}
